<!DOCTYPE html>
<html>

<head>
	<meta lang="en-us" charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	
	<title>Meal Crave</title>
	
	<!--Bulma CSS Framework-->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.1/css/bulma.min.css" type="text/css" />
	<!--Custom Stylesheet, path populated via handlebars-->
	<link rel="stylesheet" href={{{stylePath}}} type="text/css" />

	<!--Jquery-->
	<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
	

</head>

<body>
	
	{{{ body }}}

</body>

</html>
