<body class="Site"> 
    <header class="header">
        <section class="hero has-bg-img">
          <div class="hero-body has-text-centered is-vcentered is-flex-touch">
            <div class="container">
              <h1 class="has-text-light is-size-2"><span id="homeLink">mealCrave. </span> Get satisfied<span id="theDuration"></span>.</h1>
            </div>
          </div>
        </section>
    </header>
    <br>
    <div id="loading"><img src="/assets/photos/loader.gif" alt="Loading"></div>
    <div id="map"></div>
    <div id="destAdd">{{restaurantAddress}}</div>
    <script type="text/javascript" src="/assets/javascript/map.js"></script>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCMRNMvB_hrPmwoHo_pkOvAfIOI5IMuMsA&libraries=places"></script>
</body>
