/* Always set the map height explicitly to define the size of the div
       * element that contains the map. */

 #map {
     height: 80%;
     width: 90%;
     margin: auto;
 }

 /* Optional: Makes the sample page fill the window. */

 html,
 body {
     height: 100%;
     margin: 0;
     padding: 10px;
 }


 .hero-body {
          background-position: center;
          text-align: center;
          font-size: 35px;
          font-weight: bold;
          padding: 15px;
      }
       
.has-bg-img { 
    background: url("../photos/restaurant.png")center center; 
    background-size:cover; 
    
} 

.Site-content {
    width: 100%;
    margin: 0 auto;
    padding: 35px;
}
 