.Site-content {
    width: 100%;
    margin: 0 auto;
    padding: 35px;
}
.mealPics{
    max-width: 100%;
    text-align: justify;
    margin: auto;
}

.has-bg-img { 
    background: url("../photos/restaurant.png")center center; 
    background-size:cover; 
}

.modal-content{
	position: relative;
	text-align: center;
}

.label{
	position: absolute;
	bottom: 15px;
}

.input{
    max-width: 50%;
}

#modalRestName:hover{
	color: white;
	text-decoration: underline;
}

